.text-right {
  text-align: right;
}

.specialCard {
  background: rgb(0, 146, 254);
  background: linear-gradient(
    164deg,
    rgba(0, 146, 254, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.PeopleRenderer ul {
  list-style: none;
}
